body {
	font-family: 'Lato'
}

.search-result {
	cursor: pointer;
}

#title {
	color: white;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#weather-info {
	min-height: 256px;
	border: solid 1px #a8b5bf;
	border-radius: 4px;
	padding: 25px;
	background-color: #f2f2f2;
}

.spacer-line {
	border-top: solid 1px #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
}

.spacer{
	margin-top: 1em;
}

body { 
	background: url("../media/background.jpg"); 
}

.temperature {
	font-size: 2em;
}